<div class="announcement-bar">
  {{ section.settings.heading }}
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
